
body{
    background: #fffffff1;
    overflow: hidden;
}
nav{
    text-align: center;
    background: rgba(8, 94, 116, 0.76);
  
    
}
nav h1{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
}

footer h2{
    padding-left: 10px;
    padding-top: 10%;
    font-size: 50px;
    font-family: 'Roboto';
    font-style: italic;
    text-align: center;
    
}

.footer__morpion{
    padding-top: 30px;
    
    
}

    
.morpion__grid{
    padding-top: 12px;
    padding-bottom: 12px;
}
.morpion__grid ul{
    
    display: flex;
    
   
    justify-content: center;

}
.morpion__grid ul li {
    border: solid 2px black;
    width: 120px;
    height: 120px;

}

.ul__button{
    
    width: 100%;
    height: 100%;  

    border: 0;
    background-color: transparent;
}

.morpion__open{
    display: flex;
    justify-content: center;
    padding-bottom: 30%;
    
}

.open__x-button{
    margin-right: 10%;
    background-color: rgb(197, 40, 40, 1);
    border-radius: 5px;
    width: 12%;
    height: 60px;
    border: 0px;
    color: white;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 50px;
}
.open__x-button:hover{
    background-color: rgb(197, 40, 40, 0.658);
}

.open__o-button{
    
    background-color: rgba(48, 61, 240,1 );
    border-radius: 5px;
    width: 12%;
    height: 60px;
    border: 0px;
    color: white;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 50px;
}

.open__o-button:hover{
    background-color: rgb(48, 61, 240, 0.658);
}

.reset{
    margin: 0 auto;
    display: block;
    width:  150px;
    height: 50px;
    margin-top: 5px;
    background: rgba(8, 94, 116, 1);
    border: 0;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Roboto';
    border-radius: 5px;

}
.reset:hover{
    background: rgba(8, 94, 116, 0.76);
}
.button__o{
    font-family: 'Roboto';
    color: rgba(48, 61, 240,1 );
    font-size: 50px;
    font-weight: bolder;
}

.button__x{
    font-family: 'Roboto';
    color: rgb(197, 40, 40, 1);
    font-size: 50px;
    font-weight: bolder;
}
.morpion__score{
    padding-left: 12px;
    font-family: 'Roboto';
    text-transform: uppercase;
}
.score__text-x{
    display: flex;
}
.score__text-x p{
    padding-right: 5px;
    font-weight: bolder;
    font-size: 20px;
}
.text-x__player{
    color: rgb(197, 40, 40, 1);
}

.score__counter-x{
    font-size: 20px;
    color: rgb(197, 40, 40, 1);
}


.score__text-o{
    display: flex;
}
.score__text-o p{
    padding-right: 5px;
    font-weight: bolder;
    font-size: 20px;
}
.text-o__player{
    color: rgba(48, 61, 240,1 );
}
.score__counter-o{
    font-size: 20px;
    color: rgba(48, 61, 240,1 );
    
}